<link rel="stylesheet" href="css/dashboard-settings.css">
<h2 class="settings-title">Settings</h2>
<div class="title-divider"></div>
<div class="settings-gallery">
    <div href="/dashboard/settings/account" class="settings-gallery__card">
        <div class="settings-gallery__img-cont">
            <img class="settings-gallery__img" src="assets/users.webp">
        </div>
        <div class="settings-gallery__description">
            <h3 class="settings-gallery__title">Account</h3>
            <p class="settings-gallery__text">Email, password and account deletion</p>
        </div>
    </div>
    <div href="/dashboard/settings/time-format" class="settings-gallery__card">
        <div class="settings-gallery__img-cont">
            <img class="settings-gallery__img" src="assets/clock.webp">
        </div>
        <div class="settings-gallery__description">
            <h3 class="settings-gallery__title">Time format</h3>
            <p class="settings-gallery__text">Change time format to 12 or 24 hour time</p>
        </div>
    </div>
    <div href="/dashboard/settings/legal" class="settings-gallery__card">
        <div class="settings-gallery__img-cont">
            <img class="settings-gallery__img" src="assets/legal.webp">
        </div>
        <div class="settings-gallery__description">
            <h3 class="settings-gallery__title">Legal</h3>
            <p class="settings-gallery__text">Privacy policy and terms of service</p>
        </div>
    </div>
</div>
<script src="js/dashboard-settings.js"></script>