<link rel="stylesheet" href="css/dashboard-settings-timeFormat.css">
<div class="title-cont">
    <div class="icon title-cont__back-to-list"><img src="assets/back.webp"></div>
    <h2 class="title-cont__setting">Settings > Time format</h2>
</div>
<div class="loader-list-el"></div>
<div style="display: none" class="time-format">
    <p class="time-format__explanation">Change the time format for dates in lists and time points in graphs.</p>
    <select class="dropdown time-format__dropdown">
        <option value="12h">12 hour time</option>
        <option value="24h">24 hour time</option>
    </select>
    <button class="button time-format__submit">Save changes</button>
</div>
<script src="js/dashboard-settings-timeFormat.js"></script>