<link rel="stylesheet" href="css/dashboard-users.css">
<div style="display: none" class="user-lists">
    <h2 class="user-lists__title">Users</h2>
    <div class="title-divider"></div>
    <div class="dyna-list user-lists__loader-list-el"></div>
    <div style="display: none" class="user-lists__inner"></div>
</div>
<div style="display: none" class="user-details">
    <div class="user-details__title-cont">
        <div class="icon back-to-list"><img src="assets/back.webp"></div>
        <h2 class="user-details__id"></h2>
    </div>
    <div class="user-details__detail-list-el detail-list"></div>
</div>
<div style="display: none" class="user-not-found">
    <div class="user-not-found__back-cont">
        <div class="icon back-to-list"><img src="assets/back.webp"></div>
    </div>
    <div class="user-not-found__message">
        <h1>404</h1>
        <p>User not found.</p>
    </div>
</div>
<script src="js/dashboard-users.js"></script>