<link rel="stylesheet" href="css/dashboard-settings-legal.css">
<div class="title-cont">
    <div class="icon title-cont__back-to-list"><img src="assets/back.webp"></div>
    <h2 class="title-cont__setting">Settings > Legal</h2>
</div>
<div class="legal">
    <p class="legal__text">By continuing to use StackPreserve, you acknowledge that you have read and agree to our Privacy Policy and Terms & Conditions, which explain how we collect, use, and protect your data, as well as the rules and guidelines for using our service.</p>
    <ul class="legal__list">
        <li><a class="legal__link" target="_blank" rel="noopener noreferrer" href="/privacy-policy/">Privacy Policy</a></li>
        <li><a class="legal__link" target="_blank" rel="noopener noreferrer" href="/terms-and-conditions/">Terms & Conditions</a></li>
    </ul>
</div>
<script src="js/dashboard-settings-legal.js"></script>