<link rel="stylesheet" href="css/dashboard-recordings.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css"/>
<script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>
<h2 class="title">Recordings</h2>
<div class="title-divider"></div>
<div class="dyna-list loader-list-el"></div>
<div style="display: none" class="lists-cont"></div>
<div style="display: none" class="player-window window">
    <div class="window__close-cont">
        <div class="player-window__close window__close"><img src="assets/close.webp"></div>
    </div>
    <div class="window__inner">
        <div class="player-window__data"></div>
        <div class="player-window__nav-cont">
            <div class="icon player-window__prev"><img src="assets/prev.webp"></div>
            <div class="player-window__wrapper">
                <div id="player"></div>
            </div>
            <div class="icon player-window__next"><img src="assets/next.webp"></div>
        </div>
    </div>
</div>
<script src="js/dashboard-recordings.js"></script>