<!DOCTYPE html>
<html lang="en">
<head>
    <base href="https://stackpreserve.com">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <title>Forgot password - StackPreserve</title>
</head>
<body>
    <div class="auth-form">
        <div class="auth-form__forgot-form">
            <h1 class="auth-form__title">Forgot password</h1>
            <div class="auth-form__credentials">
                <p class="auth-form__forgot-instructions">Please enter your email address. You will receive a link to create a new password via email. If you cannot see the email in your inbox, make sure to check your SPAM folder</p>
                <p class="auth-form__label">Email</p>
                <input name="email" class="text-field auth-form__email">
                <p style="display: none" class="auth-form__forgot-error">Email error</p>
                <button disabled class="button auth-form__submit">Send link</button>
            </div>
        </div>
        <div style="display: none" class="auth-form__forgot-success">
            <h1 class="auth-form__title">Email sent</h1>
            <p class="auth-form__forgot-success-text">The password reset link has been sent to</p>
            <b class="auth-form__forgot-success-email"></b>
        </div>
    </div>
    <script src="js/auth.js"></script>
</body>
</html>