<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css"/>
<script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>
<div class="product">
    <div class="product__left">
        <h1 class="product__title">Watch exactly how your customers react</h1>
        <p class="product__text">Session replay built for indie developers. See every click, scroll, and interaction to understand what works, what confuses users, and where they drop off, all without complex setup.</p></p>
        <a class="product__signup" href="/signup">Start recording in seconds</a>
    </div>
    <div class="product__right">
        <div id="player"></div>
    </div>
</div>
<div class="how-it-works">
    <div class="how-it-works__explanation">
        <h1 class="how-it-works__title">How it works</h1>
        <p class="how-it-works__text">Getting started takes less than a minute, just add a small script tag to your site and enter your domain in a simple form. That's it. We'll start recording sessions automatically so you can see exactly how visitors use your website.</p>
    </div>
    <div class="how-it-works__img-cont">
        <img class="how-it-works__img" src="assets/script.png"></img>
    </div>
</div>
<div class="community">
    <h1 class="community__title">Join our dedicated community via Discord</h1>
    <p class="community__text">Get support, tips and stay updated with upcoming changes.</p>
    <a class="community__join" href="https://discord.gg/SkRndSzxV8" target="_blank" rel="noopener noreferrer">Join server</a>
</div>
<script src="js/home.js"></script>