<!DOCTYPE html>
<html lang="en">
<head>
    <base href="https://stackpreserve.github.io">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="css/menu.css">
    <title>StackPreserve | Watch exactly how your customers react</title>
</head>
<body>
    <div class="cover" style="display: none"></div>
    <div class="nav-bar">
        <div class="nav-bar__inner">
            <div class="nav-bar__left">
                <a class="nav-bar__logo-link" href="/"><img class="nav-bar__logo" src="assets/logoLong.png"></a>
                <ul class="nav-bar__links">
                    <li class="nav-bar__link product-link"><a><p>Product</p></a></li>
                    <li class="nav-bar__link how-it-works-link"><a><p>How it works</p></a></li>
                    <li class="nav-bar__link community-link"><a><p>Community</p></a></li>
                </ul>
            </div>
            <div class="nav-bar__right">
                <a class="nav-bar__contact right-bottom-btn" href="/contact"><p>Contact</p></a>
                <a class="nav-bar__login right-bottom-btn" href="/login"><p>Log in</p></a>
                <a class="nav-bar__signup right-bottom-btn" href="/signup"><p>Get started</p></a>
            </div>
        </div>
        <div class="nav-bar__mobile-inner">
            <a class="nav-bar__logo-link" href="/"><img class="nav-bar__logo" src="assets/logoLong.png"></a>
            <img class="nav-bar__menu-btn icon" src="assets/menu.webp">
        </div>
    </div>
    <div class="menu">
        <img class="menu__close icon" src="assets/back.webp">
        <ul class="menu__links">
            <li class="menu__link product-link"><a><p>Product</p></a></li>
            <li class="menu__link how-it-works-link"><a><p>How it works</p></a></li>
            <li class="menu__link community-link"><a><p>Community</p></a></li>
        </ul>
        <div class="menu__divider"></div>
        <div class="menu__bottom">
            <a class="menu__contact right-bottom-btn" href="/contact"><p>Contact</p></a>
            <a class="menu__login right-bottom-btn" href="/login"><p>Log in</p></a>
            <a class="menu__signup right-bottom-btn" href="/signup"><p>Get started</p></a>
        </div>
    </div>
    <div class="page"></div>
    <div class="footer">
        <ul class="footer__links">
            <li class="footer__link"><a class="product-link"><p>Product</p></a></li>
            <li class="footer__link"><a class="how-it-works-link"><p>How it works</p></a></li>
            <li class="footer__link"><a class="community-link"><p>Community</p></a></li>
            <li class="footer__link"><a href="/contact"><p>Contact</p></a></li>
            <li class="footer__link"><a href="/privacy-policy"><p>Privacy Policy</p></a></li>
            <li class="footer__link"><a href="/terms-and-conditions"><p>Terms & Conditions</p></a></li>
        </ul>
        <small class="footer__copyright-notice"></small>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>